// Reboot
// --------------------------------------------------

html {
  font-size: 20px;
}

body {
  margin: 0;
  padding: 0;
}

// Typography
// --------------------------------------------------

body {
  font-size: 0.8rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

// Themes
// --------------------------------------------------

[data-theme=dark] {
  --primary: #f03e3e;
  --secondary: #868e96;
  --global-bg: #495057;
  --global-color: #dee2e6;
  --titlebar-bg: #343a40;
  --titlebar-color: #fff;
  --activitybar-bg: #212529;
  --activitybar-color: #fff;
  --sidebar-bg: #343a40;
  --sidebar-color: #fff;
  --statusbar-bg: #212529;
  --statusbar-color: #fff;
}

[data-theme=light] {
  --primary: #007acc;
  --secondary: #495057;
  --global-bg: #fff;
  --global-color: #333;
  --titlebar-bg: #ddd;
  --titlebar-color: #333;
  --activitybar-bg: #2c2c2c;
  --activitybar-color: rgba(255, 255, 255, 0.6);
  --sidebar-bg: #f3f3f3;
  --sidebar-color: #6f6f6f;
  --statusbar-bg: #007acc;
  --statusbar-color: #fff;
}
