<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
  <app/>
  <script>
    require('module').globalPaths.push(require('path').resolve(require('electron').remote.app.getAppPath()))
  </script>
  <% if (process.env.NODE_ENV === 'development') { %>
  <script>
    // alert(require('electron').remote.app.getAppPath())
    // require('module').globalPaths.push(require('path').resolve(require('electron').remote.app.getAppPath(), './node_modules'))
    require('module').globalPaths.push(require('path').resolve(require('electron').remote.app.getAppPath(), './core.asar/node_modules'))
  </script>
  <% } %>
  <!-- built files will be auto injected -->
</body>
</html>
